body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
}

div{
    width: 25%;
    position: absolute;
    margin: -8px 10px 10px -50px;
    display: block;
}

.knoppen{
    background-color:#372256;
    padding: 10px;
    padding-left: 15px;
    border:5px solid #372256;
}

.knop{
    background-color: #6A4495;
    padding:20px 5px 20px 5px ;
    margin: 10px;
    border: 5px solid #6A4495;
    border-radius: 10px;
    list-style-type: none;
    color: #fff;
    font-family: Gotham bold,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.tekst{
    position: absolute;
    left: 35%;
    width: auto;
}

h1{
    font-family: Gotham bold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6rem;
}

p{
    font-family: droid serif, serif;
    font-size: 1rem;
}

.icons{
    position: absolute;
    top: 57%;
    background-color: #D1CD3E;
    color: #A3A340;
    font-size: 2rem;
    padding: 20px 5px 50px 10px ;
    border: 5px solid #D1CD3E;
    list-style-type: none;
    width: 25%;
    text-align: center;
    margin: 20px 10px 10px -40px;
}

.logo{
    width: 80%;
    height: auto;
}

.Fonts{
    position: absolute;
    top: 118%;
    background-color: #9478B5;
    font-size: 2rem;
    padding: 20px 5px 580px 10px ;
    border: 5px solid #9478B5;
    list-style-type: none;
    width: 25%;
    text-align: center;
    margin: 20px 10px 10px -40px;;
}
.titel{
    font-family: seravek light, sans-serif;
    color: #D1CD3E;
    padding: 20px;
    font-size: 3rem;
}

.Ondertitel{
    font-family: droid serif bold, serif bold;
    color: #fff;
    font-size: 2rem;
}

.nav{
    font-family: Gotham Bold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    Font-size: 3rem;
}
h2{
    font-family: Gotham bold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}